.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-container img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.image-container .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.gradient-div {            
    background-image: linear-gradient(#ffffff 0%, #019076 100%);
}

.div-title {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
}