/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/storage/framework/laravel-excel/*
!/storage/framework/laravel-excel/.gitkeep

/public/img/banner/*
/public/img/logo/*

/public/img/avatar/*
!/public/img/avatar/user.png

/public/resources_global/*
!/public/resources_global/.gitkeep

/public/resources/

/public/temp/*
!/public/temp/.gitkeep